<main>
  <section class="builders-ahmedabad position-relative">
    <div class="container">
      <div class="banner-small">
        <h1 class="banner_title">
          New Projects in {{ projectincity[0].searchcity }}
        </h1>
        <!-- <p class="banner_small">New Projects in Ahmedabad</p> -->
      </div>
    </div>
  </section>

  <section class="godrej-projects">
    <div class="container">
      <div class="godrej-tab">
        <ul class="godrej nav-pills mb-3" id="pills-tab" role="tablist">
          <!-- <li class="nav-item" role="presentation">
                      <button class="godrej-link active" id="pills-godrej-tab" data-bs-toggle="pill" data-bs-target="#pills-gogrej" type="button" role="tab" aria-controls="pills-gogrej" aria-selected="true">NEW PROJECTS ({{ projectincity.length }})</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="godrej-link" id="pills-godarej-two-tab" data-bs-toggle="pill" data-bs-target="#pills-godarej-two" type="button" role="tab" aria-controls="pills-godarej-two" aria-selected="false">COMPLETE PROJECT</button>
                    </li> -->
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-gogrej"
            role="tabpanel"
            aria-labelledby="pills-godrej-tab"
          >
            <div class="projections">
              <div class="head-projections">
                <!-- <div class="new-projection">
                                <p>New Projects in {{projectincity[0].searchcity}}</p>
                            </div> -->
                <!-- <div class="sort-by">
                                <label for="cars">Sort By:</label>
                                <select id="cars" name="carlist" class="sort-select" form="carform">
                                <option value="" disabled selected hidden>Relevance</option>
                                <option value="Lorem">Lorem</option>
                                <option value="Lorem">Lorem</option>
                                <option value="Lorem">Lorem</option>
                                <option value="Lorem">Lorem</option>
                                </select>
                            </div> -->

                <div class="tabs_sortby">
                  <div class="tabs_sortby--title" (click)="toggleDropdown()">
                    Sort by: <span>{{ selectedSortOption }}</span>
                  </div>
                  <div
                    class="tabs_sortby__dd box-shadow z-1"
                    [class.tabs_sortby__dd--show]="isDropdownOpen"
                  >
                    <ul class="tabs_sortby__dd__list">
                      <li
                        *ngFor="let option of sortOptions"
                        class="tabs_sortby__dd__list--item"
                        [class.active]="option === selectedSortOption"
                        (click)="changeSortOption(option)"
                      >
                        {{ option }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="godrej-citys">
                <div
                  class="citiys-planes"
                  *ngFor="let projectincity of projectincity"
                >
                  <!-- <div class="citiys-planes"  *ngFor="let projectincity of projectincity | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"> -->
                  <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <div class="city-images">
                        <img
                          src="{{ projectincity.project_images }}"
                          alt=""
                          class="img-fluid"
                        />
                      </div>
                      <!-- <div class="check-compare">
                                            <input type="checkbox" id="compare" name="compare" value="compare add" class="mycheck">
                                            <label for="compare" class="compares"> Add to Compare</label><br>
                                        </div> -->
                    </div>
                    <div class="col-lg-10 col-md-6 col-sm-12">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <a
                            href="project-details/{{
                              projectincity.firstUrlPart
                            }}/{{ projectincity.secondUrlPart }}"
                            class="groups-companies-names"
                            >{{ projectincity.project_name }}</a
                          >
                          <p class="opnesince">
                            {{ projectincity.totalfloor }} Floor Plan | By:
                            {{ projectincity.builder_name }}
                          </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="row">
                            <div class="col-md-6">
                              <p class="interior-location">
                                <span class="me-3"
                                  ><i
                                    class="fa fa-sharp fa-light fa-location-dot"
                                    style="color: #bbbbbb"
                                  ></i></span
                                >in {{ projectincity.prjlocalities }}
                              </p>
                            </div>
                            <div
                              class="col-md-6"
                              [ngClass]="{
                                'border-add':
                                  projectincity.project_price_show == '0'
                              }"
                            >
                              <div class="city-price">
                                <p
                                  class="our-price"
                                  *ngIf="
                                    projectincity.project_price_show == '0'
                                  "
                                >
                                  ₹ {{ projectincity.project_minimum_price }} -
                                  {{ projectincity.project_maximum_price }}
                                </p>
                                <!-- <p class="since-oct"><span class="me-2"><i class="fa-solid fa-arrow-up" style="color: #25c600;"></i></span>5% since Oct '15</p> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h6 class="possession">
                        Possession in
                        {{
                          getFormattedDate(
                            projectincity.project_possession_date
                          )
                        }}
                      </h6>
                      <p
                        class="text-titles"
                        [innerHTML]="projectincity.project_about"
                      ></p>
                      <input
                        type="checkbox"
                        class="text-btn"
                        *ngIf="projectincity.project_about !== null"
                      />
                      <div class="deatel-table">
                        <table class="table-responsive">
                          <tbody *ngFor="let flat of projectincity.properties">
                            <tr class="table-data">
                              <td>{{ flat.property_bhk }}</td>
                              <td>{{ flat.property_sqfoot }}</td>
                              <td>{{ flat.price }}</td>
                              <td class="contact-godrej">
                                <a href="#">CONTACT NOW</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="loading-spinner" *ngIf="loading">
                  <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="pills-godarej-two"
            role="tabpanel"
            aria-labelledby="pills-godarej-two-tab"
          >
            ...
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
