
  <div class="container">
    <div class="menu_wrapper">
      <div class="main_logo">
        <a routerLink="/"><img src="../assets/images/logo.svg" class="img-fluid desk_logo" alt="" /></a>
        <a class="navbar-brand" href="#"><img src="../../../assets/images/mobile-logo.png" class="mobile-logo"
            alt="" /></a>
      </div>
      <!-- <img src="../assets/images/My-Realty.png" class="img-fluid" alt="" -->
      <div class="header_btn gap-2">
        <!-- <a routerLink="/register" class="register ms-3"
          > SIGN UP</a
        > -->
        <a routerLink="/registration" class="post_btn">Register</a>
      </div>
    </div>
  </div>

  <section class="login_sing">
    <div class="login_brg">
      <div class="login_box">
        <form #myForm="ngForm" (ngSubmit)="onFormSubmit(myForm)">
          <h1 class="login_sign_head">Login</h1>

          <div class="otp-process">
            <!-- Mobile Number Input -->
            <div>
              <input
                type="tel"
                maxlength="10"
                class="gold-form-input"
                [(ngModel)]="contact_no"
                [disabled]="isMobileNumberDisabled"
                name="contact_no"
                pattern="^\d{10}$"
                placeholder="Mobile No."
                (keypress)="validateNumberInput($event)"
                (input)="validContactNumber($event)"
                required
              />
              <!-- <p *ngIf="showContactError" class="error-message-login">
                Invalid mobile number. Please enter at least 10 digits.
              </p> -->

              <button
                class="form-action-btn mt-3"
                *ngIf="!isOtpGenerated || showContactError"
                (click)="generateOtp(contact_no)"
                [disabled]="myForm.form.invalid"
              >
                Generate OTP
              </button>
            </div>

            <!-- OTP Input -->
            <div *ngIf="isOtpGenerated && !showContactError" class="mt-3">
              <input
                type="number"
                class="gold-form-input"
                [(ngModel)]="enteredOtp"
                name="otp"
                #otpInput
                (keypress)="validateNumberInput($event)"
                placeholder="Enter OTP"
                required
              />

              <button
                class="form-action-btn mt-3"
                *ngIf="isOtpGenerated && !showContactError"
                (click)="validateOtp(contact_no, otpInput.value)"
                [disabled]="myForm.form.invalid"
              >
                Submit OTP
              </button>

              <!-- Invalid OTP Error -->
              <!-- <ng-container *ngIf="!isOtpValid">
                <p class="error-message-login">
                  Invalid OTP. Please try again.
                </p>
              </ng-container> -->
            </div>

            <!-- OTP Validation Success -->
            <div *ngIf="isOtpValid" class="success-message">
              OTP successfully validated!
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
